:root{
  --brand-dark:#222E3C;
  --brand-soft-dark:#2A3A4F;
}

.home-wrapper{
  max-width: 70rem;
  margin: 0 auto;
}

.column-bg{
  background-color: var(--brand-dark);
  transition: background-color 0.5s ease;
}

.column-bg:hover{
  background-color:var(--brand-soft-dark) !important;
}

.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1050;
}

.modal-wrapper{
  width: 50rem;
  height: 25rem;
}
