:root{
  --brand-dark:#222E3C;
  --hover-soft-dark:#2A3A4F;
}

.nav-bg{
  background-color: var(--brand-dark);

}


.back-btn {
  width: 4rem;
  height: 4rem;
}

.back-btn:hover {
  background-color: var(--hover-soft-dark) !important;
  transition: background-color 0.5s ease;

}
